<div class="row">
    <h3>List Users</h3><hr>
    <table class="table table-success table-striped table-hover custom-table">
      <thead >
        <tr>
          <th>ID</th>
          <th>FullName</th>
          <th>Email</th>
          <th>Username</th>
          <th>Roles</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Các dòng dữ liệu của bảng -->
            <tr *ngFor="let user of users; let i = index">
                <td>{{i + 1}}</td>
                <td>{{user.firstName + " "+user.lastName }}</td>
                <td>{{user.email}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.roles.join(", ")}}</td>
                <td>
                  <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#assignEquipmentModal" (click)="setEmployeeAssign(user.userId)">Assign</button>
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#returnEquipmentModal" (click)="setEmployeeReturn(user.userId)">Return</button>
                </td>
              </tr>
        <!-- Thêm các dòng dữ liệu khác vào đây -->
      </tbody>
    </table>
    
    <!-- Phân trang -->
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Tiếp</a></li>
      </ul>
    </nav>
</div>

<div class="modal fade" id="assignEquipmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title text-center" id="exampleModalLabel">
                  <span style="font-size: 25px; font-weight: 700">Assign Equipment For Employee</span>
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group pt-3">
              <label class="form-label">Employee ID</label>
              <div class="input-field">
                  <input [value]="employeeId" type="text" placeholder="Id" readonly />
              </div>
          </div> 
            <form [formGroup]="assignEquipmentForm" (ngSubmit)="addListEquipment()">
              <div class="form-group pt-3 d-flex">
                <label class="form-label mt-2 col-md-3">Equipment ID:</label>
                <div class="input-field me-2 w-100" [class.error]="assignEquipmentForm.controls['equipmentId'].dirty && assignEquipmentForm.hasError('required', 'equipmentId')">
                    <input formControlName="equipmentId" type="text" placeholder="Equipment ID" />
                </div>
                <button class="btn btn-primary">Add</button>
              </div>
              <small
                    *ngIf="assignEquipmentForm.controls['equipmentId'].dirty && assignEquipmentForm.hasError('required', 'equipmentId')"
                    class="text-danger offset-md-3">*EquipmentId is required</small>
            </form>
            <div class="mt-2">
              <h6>List Equipment Assign For Employee</h6>
              <div *ngFor="let e of listEquipment; let i = index">
                <span class="me-2">{{i+1}}{{". "}}{{e}}</span>
                <i class="fas fa-times text-danger" (click)="deleteEquipment(e)"></i>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button id="closeBtnAssign" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
              </button>
              <button type="button" class="btn btn-primary" (click)="submitAssignEquipment()">
                  Submit
              </button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="returnEquipmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <p class="modal-title text-center" id="exampleModalLabel">
                  <span style="font-size: 25px; font-weight: 700">Return Equipment From Employee</span>
              </p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group pt-3">
              <label class="form-label">EmployeeID</label>
              <div class="input-field">
                  <input [value]="employeeId" type="text" placeholder="EmployeeID" readonly />
              </div>
          </div> 
            
            <div class="mt-2">
              <h6>List Equipment Return From Employee</h6>
              <div *ngFor="let e of listEquipment; let i = index">
                <span class="me-2">{{i+1}}{{". "}}{{e}}</span>
                <i class="fas fa-times text-danger" (click)="deleteEquipment(e)"></i>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button id="closeBtnReturn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
              </button>
              <button type="button" class="btn btn-primary" (click)="submitReturnEquipment()">
                  Submit
              </button>
          </div>
      </div>
  </div>
</div>
