<div mat-dialog-title class="font-weight-bold text-center">Chỉnh sửa thông tin nhân viên</div>
<div class="row p-0" mat-dialog-content>
    <form class="mt-2" [formGroup]="editEmployeeForm" >
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label >Họ tên đệm</mat-label>
            <input formControlName="firstName" matInput placeholder="Nguyễn Văn Vũ">
            <mat-error class="error_Msg" *ngIf="editEmployeeForm.hasError('required', 'firstName')">
                <span>Họ tên đệm là bắt buộc</span>
            </mat-error>
          </mat-form-field>
            <!-- <div>
                <label>Họ tên đệm</label>
              </div>
            <div class="input-field"
                  [class.error]="editEmployeeForm.controls['firstName'].dirty && editEmployeeForm.hasError('required', 'firstName')">
                  <input formControlName="firstName" type="text" placeholder="Nguyễn Văn Vũ" />
            </div>
            <small *ngIf="editEmployeeForm.controls['firstName'].dirty && editEmployeeForm.hasError('required', 'firstName')"
                class="text-danger">*Họ tên đệm là bắt buộc</small> -->
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label >Tên</mat-label>
            <input formControlName="lastName" matInput placeholder="Linh">
            <mat-error class="error_Msg" *ngIf="editEmployeeForm.hasError('required', 'lastName')">
                <span>Tên là bắt buộc</span>
            </mat-error>
          </mat-form-field>
            <!-- <div>
                <label>Tên</label>
              </div>
            <div class="input-field"
                  [class.error]="editEmployeeForm.controls['lastName'].dirty && editEmployeeForm.hasError('required', 'lastName')">
                  <input formControlName="lastName" type="text" placeholder="Linh" />
            </div>
            <small *ngIf="editEmployeeForm.controls['lastName'].dirty && editEmployeeForm.hasError('required', 'lastName')"
                class="text-danger">*Tênlà bắt buộc</small> -->
        </div>
      </div> 
  
      <div class="row">
        <div class="col-md-6">
          <div>
            <label>Giới tính</label>
          </div>
          <div class="d-flex">
            <div class="form-check me-2">
              <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="male" value="Nam">
              <label class="form-check-label" for="male">
                Nam
              </label>
            </div>
            <div class="form-check me-2">
              <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="female" value="Nữ">
              <label class="form-check-label" for="female">
                Nữ
              </label>
            </div>
            <div class="form-check">
              <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="other" value="Khác">
              <label class="form-check-label" for="other">
                Khác
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;" appearance="outline">
            <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="Ngày sinh" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label >CMND/CCCD</mat-label>
            <input formControlName="cccd" matInput>
            <mat-error class="error_Msg" *ngIf="editEmployeeForm.hasError('required', 'cccd')">
                <span>Căn cước công dân là bắt buộc</span>
            </mat-error>
          </mat-form-field>
          <!-- <div>
            <label>CMND/CCCD</label>
          </div>
        <div class="input-field"
              [class.error]="editEmployeeForm.controls['cccd'].dirty && editEmployeeForm.hasError('required', 'cccd')">
              <input formControlName="cccd" type="text" placeholder="352543980" />
        </div>
        <small *ngIf="editEmployeeForm.controls['cccd'].dirty && editEmployeeForm.hasError('required', 'cccd')"
            class="text-danger">*Căn cước công dân là bắt buộc</small> -->
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label >Địa chỉ</mat-label>
            <input formControlName="address" matInput>
            <mat-error class="error_Msg" *ngIf="editEmployeeForm.hasError('required', 'address')">
                <span>Địa chỉ là bắt buộc</span>
            </mat-error>
          </mat-form-field>
          <!-- <div>
            <label>Địa chỉ</label>
          </div>
        <div class="input-field"
              [class.error]="editEmployeeForm.controls['address'].dirty && editEmployeeForm.hasError('required', 'address')">
              <input formControlName="address" type="text" placeholder="Số 2 Lê Lợi, phường Mỹ Bình, thành phố Long Xuyên, An Giang" />
        </div>
        <small *ngIf="editEmployeeForm.controls['address'].dirty && editEmployeeForm.hasError('required', 'address')"
            class="text-danger">*Căn cước công dân là bắt buộc</small> -->
        </div>
     </div>
  
     <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label >Số điện thoại</mat-label>
            <input formControlName="mobilePhone" matInput>
            <mat-error class="error_Msg" *ngIf="editEmployeeForm.hasError('required', 'mobilePhone')">
                <span>Số điện thoại là bắt buộc</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label >Email liên hệ</mat-label>
            <input formControlName="email" matInput>
            <mat-error class="error_Msg" *ngIf="editEmployeeForm.hasError('required', 'email')">
                <span>Email là bắt buộc</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label>Phòng ban</mat-label>
            <mat-select formControlName="departmentId" >
                <mat-option value="">Chọn phòng ban</mat-option>
                <mat-option *ngFor="let department of listDepartment" [value]="department.id">{{department.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline" >
            <mat-label>Vị trí trong phòng ban</mat-label>
            <mat-select formControlName="position">
                <mat-option value="">Chọn vị trí trong phòng ban</mat-option>
                <mat-option value="Trưởng nhóm">Trưởng nhóm</mat-option>
                <mat-option value="Phó nhóm">Phó nhóm</mat-option>
                <mat-option value="Thành viên">Thành viên</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-end mx-1" mat-dialog-actions>
    <button (click)="onClose()" class="btn btn-danger me-3">Đóng</button>
    <button (click)="onSubmit()" type="submit" class="btn btn-primary ">
      Lưu
    </button>
  </div>
  
  
  