<div class="d-flex justify-content-between p-1 mb-2">
  <h3>History Equipment</h3>
</div>
<table class="table table-success table-striped table-hover custom-table" >
    <thead>
      <tr>
        <th >ID</th>
        <th>HandlerID</th>
        <th>EmployeeID</th>
        <th>Status</th>
        <th>AssignDate</th>
        <th>ReturnDate</th>
      </tr>
    </thead>
    <tbody>
      <!-- Các dòng dữ liệu của bảng -->
      <tr *ngFor="let h of history">
        <td>{{h.id}}</td>
        <td>{{h.userIdOfHandle}}</td>
        <td>{{h.employeeId}}</td>
        <td>{{h.status}}</td>
        <td>{{h.assignmentDate }}</td>
        <td>{{h.returnDate}}</td>
      </tr>
      <!-- Thêm các dòng dữ liệu khác vào đây -->
    </tbody>
</table>