
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">DANH SÁCH PHÒNG BAN</h1>
    <button class="btn btn-primary" (click)="openDialog()">
        <div class="d-flex justify-content-between align-items-center"><mat-icon>add</mat-icon>Thêm phòng ban</div>
    </button>
  </div>
<div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="no" style="width: 5%;">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;">STT</th>
                <td mat-cell *matCellDef="let row; let i = index" style="width: 5%;"> {{row.no + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="name" style="width: 25%;">
                <th mat-header-cell *matHeaderCellDef style="width: 25%;">Tên phòng ban</th>
                <td mat-cell *matCellDef="let row;" style="width: 25%;"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description" style="width: 50%;">
                <th mat-header-cell *matHeaderCellDef style="width: 50%;">Mô tả</th>
                <td mat-cell *matCellDef="let row;" style="width: 50%;"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="created" style="width: 20%;">
                <th mat-header-cell *matHeaderCellDef style="width: 20%;">Ngày tạo</th>
                <td mat-cell *matCellDef="let row;" style="width: 20%;"> {{row.created | date:'dd-MM-yyyy HH:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="action" style="width: 20%;">
                <th mat-header-cell *matHeaderCellDef style="width: 20%;">Hành động</th>
                <td mat-cell *matCellDef="let row;" style="width: 20%;"> 
                    <div>
                        <mat-icon class="me-2 text-warning" (click)="openDialogEdit(row.id)">edit</mat-icon>
                        <mat-icon class="me-2 text-danger" (click)="openDialogDelete(row.id, row.name)">delete</mat-icon>
                    </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <!-- <div *ngIf="this.loaderService.isLoading | async" class="tableSpinnerContainer">
            <mat-spinner diameter="60">
            </mat-spinner>
        </div> -->
    
</div>
